<% if @registrations.empty? %> 
  <em> This student has not participated in any tournaments </em>
<% else %> 
<table class="table table-striped">
  <thead>
    <tr>
      <th>Event</th>
			<th>Place</th>
    </tr>
  </thead>
  <tbody>
    <% @registrations.each do |registration| %>
      <tr>
        <td> <%= link_to registration.event.name, section_path(registration.section.id) %></td>
				<td>
				  <% if registration.final_standing == 1 %> 
            <%= registration.final_standing %>st
          <% elsif registration.final_standing == 2 %>
            <%= registration.final_standing %>nd 
          <% elsif registration.final_standing == 3 %> 
            <%= registration.final_standing %>rd  
          <% else %> 
             <em> Did not place </em>
          <% end %> 
				</td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @registrations, :previous_label => "Previous", :next_label => "Next" %>
<% end %> 