<%= simple_form_for @student, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Student</legend>
		
		<%= f.input :first_name %>
		<%= f.input :last_name %>
		<%= f.input :date_of_birth, :label => "Date of Birth", :as => :date, :start_year => Date.today.year - 4, :end_year => Date.today.year - 75, :order => [:month, :day, :year], :include_blank => true %>
		<%= f.input :phone %>
		<%= f.input :rank, :collection => Student::RANKS %>
		<%= f.input :waiver_signed %>
		<%= f.input :active %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', students_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>