<div id="footer">
    <%= link_to "Home", home_path %> &nbsp;&nbsp; | &nbsp;&nbsp;
    <%= link_to "About Us", about_path %> &nbsp;&nbsp;| &nbsp;&nbsp;
    <%= link_to "Contact Us", contact_path %> &nbsp;&nbsp; | &nbsp;&nbsp;
    <%= link_to "Privacy Policy", privacy_path %> &nbsp;&nbsp; | &nbsp;&nbsp;
	<br/>
	<div id = 'copy'>
		Webmaster: <%= mail_to("ajmark@andrew.cmu.edu", "Alex Mark", :encode => "javascript") %> 
		&nbsp;&nbsp;&copy 2013
		<p class="supertiny">&nbsp;</p>
    </div>
</div>