<div class="nav-collapse">
  <ul class="nav">
  	<% if logged_in? %> 
  	  <li><%= link_to "Dashboard", home_path %></li>
      <li><%= link_to "Students", students_path %></li>
      <li><%= link_to "Sections", sections_path %></li>
      <li><%= link_to "Events", events_path %></li>
      <li><%= link_to "Tournaments", tournaments_path %></li>
      <li><%= link_to "Dojos", dojos_path %></li>
    <% else %> 
      <li><%= link_to "Dojos", dojos_path %></li>
    <% end %>
  </ul>
</div>