<%= simple_form_for @tournament, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Tournament</legend>
		
		<%= f.input :name %>
    <%= f.input :date, :as => :date, :order => [:month, :day, :year] %>
    <%= f.input :min_rank, :collection => Student::RANKS  %>
    <%= f.input :max_rank, :collection => Student::RANKS  %>
		<%= f.input :active %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', tournaments_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>