<h2>Hello <%= current_user.student.first_name %>! </h2>
<br/>
<div class="row">
	<div class="span4">
	  <h4>User Info</h4>
	  <div class="well">
	    <%= image_tag('blank_profile.jpg') %>
	  </div>
	  <%= render :partial => 'partials/user_details' %>
	</div>

	<div class="span8">
	  <h4>Dojo History</h4>
	  <%= render :partial => 'partials/dojo_history' %> 
	  <br>
	  <h4>Tournament Activity</h4>
	  <%= render :partial => 'partials/activities' %>
	  <br>
	  <h4>Upcoming Tournaments</h4>
	  <%= render :partial => 'partials/upcoming_tournaments' %>
	  <br>
	  <h4>Unpaid Registrants</h4>
	  <%= render :partial => 'partials/payment_info' %>
	  <br>
	  <h4>Unsigned Waivers</h4>
	  <%= render :partial => 'partials/unsigned_waivers' %>
	  <br>
	</div>
</div>

<div class="form-actions">
    <%= link_to raw("<i class='icon-pencil'></i> Edit Your Info"), edit_student_path(current_user.student), :class => 'btn' %>&nbsp;&nbsp;
    <%= link_to raw("<i class='icon-remove icon-white'></i> Delete Your Account"), student_path(current_user.student), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>