<% if @section_students.empty? %>
  <p>&nbsp;&nbsp;<em>None at this time</em></p>
  <p>&nbsp;</p>
  
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Rank</th>
        <th>Age</th>
        <th>Place</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @section.registrations.by_student.each do |registration| %>
        <tr>
          <td><%= link_to registration.student.name, student_path(registration.student) %></td>
          <td><%= rank_name(registration.student.rank)  %></td>
          <td class="centered"><%= registration.student.age %></td>
          <td>
          <% if registration.final_standing.nil? %>
            Did not place
          <% else %>
            <% if registration.final_standing == 1 %>
              <%= registration.final_standing %>st
            <% end %>
            <% if registration.final_standing == 2 %>
              <%= registration.final_standing %>nd
            <% end %>
            <% if registration.final_standing == 3 %>
              <%= registration.final_standing %>rd
            <% end %>
          <% end %>
          </td>
          <td> 
            <%= link_to raw("<i class='icon-pencil'></i> Edit"), edit_registration_path(registration), :class => 'btn btn-mini' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>