<p>
	<b>Name:</b> <%= @dojo.name %>
</p>

<p>
  <b>Street:</b> <%= @dojo.street %>
</p>

<p>
  <b>City, State &amp; Zip:</b> <%= @dojo.city + ", " + @dojo.state + " " + @dojo.zip %>
</p>

<p>
  <b>Active:</b> <%= @dojo.active ? "Yes" : "No" %>
</p>

<p>
  <b>Dojo Location:</b> 
</p>

<%= image_tag @dojo.create_map_link %>