<div class="row">
  <div class="span6">
    <h3>Dojo Details</h3>
    <%= render :partial => "dojo_details" %>
  </div>
  <div class="span6">
		<% if logged_in? %> 
  		<h4>Current Members</h4>
  		<%= render :partial => "current_members" %>
		<% end %>
    <br>
    <% if logged_in? and current_user.role? :admin %>
      <%= render :partial => "quick_register_student_for_dojo" %>
    <% end %>
  </div>

</div>

<div class="form-actions">
  <%= link_to raw("<i class='icon-list'></i> Display All Dojos"), dojos_path, :class => 'btn'  %>&nbsp;&nbsp;
  <% if logged_in? and current_user.role? :admin %>
    <%= link_to raw("<i class='icon-pencil'></i> Edit #{@dojo.name}"), edit_dojo_path(@dojo), :class => 'btn' %>&nbsp;&nbsp;
    <%= link_to raw("<i class='icon-remove icon-white'></i> Delete #{@dojo.name}"), dojo_path(@dojo), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
  <% end %>
</div>