<!DOCTYPE html>
<html>
<head>
  <title>A &amp; M Karate Tournament System</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <div class="container">
    <!-- TITLE BAR -->
    <%= link_to(image_tag('amk_titlebar_2.png'), home_path) %>
    <br><br>
    <!-- NAV BAR -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <%= render :partial => "partials/navigation" %>
            <ul class="nav ident pull-right">
              <% if logged_in? %>
                Welcome, <%= link_to current_user.student.proper_name, home_path(current_user) %> &nbsp; | &nbsp;
                <%= link_to "Logout", logout_path %>
              <% else %>
                <%= link_to 'Log In', login_path %> 
            </ul>
          <% end %>
        </div>
      </div>
    </div>
    </div>
    <!-- MAIN CONTENT -->
    <div class="container">
      <!-- flash messages -->
      <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
          <a class="close" data-dismiss="alert">&times;</a>
          <%= msg %>
        </div>
      <% end %>
      <div class="row">
        <!-- main content placed here -->
        <div class="span12">
          <div id="main_content">
           <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- FOOTER -->
  <footer>
    <div class="container">
      <%= render :partial => "partials/footer" %>
    </div>
  </footer>
</body>
</html>
